body {
    text-align:justify;
    margin:40px auto;
    max-width:650px;
    line-height:1.7;
    font-size:17px;
    font-family:serif;
    font-weight:400;
    font-style:normal;
    color:#666;
    background-color: #ffffff;
}

h1 {
	letter-spacing:6px;
	line-height:1.0;
    font-weight:400;
    color:#444;
}

h2,h3 {
    line-height:1.2;
    font-family:"Georgia";
    font-weight:400;
    color:#222;
}
         
a {
    color:#4358CB;
    font-style:oblique;
}

#menu a {
	color:white;
	font-style:oblique;
}

code {
    color:#666;
    font-family:monospace;
    line-height:1.0;
    font-size:15px;
	background-color:#e7e7e7;
}

footer {
    font-size:13px;
    padding: 0 0;
	margin-top: 40px;
}

menu {
    font-size:18px;
    text-align: center;
    padding: 0 0;
	color:white;
    background-color:#4358CB;
	margin-bottom: 40px;
}

header {
    font-size:18px;
    text-align:center;
}

ul {
    padding-left:20px;
    padding-right:0px;
}

ol {
    padding-left:20px;
    padding-right:0px;
}
